<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- HOME.HTML tries to OVERRIDE POST-CONTENT with POSTS, 
      so parts need be added to the Template Directly! -->


	  
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"uc-search-bar" } /-->

    <!-- wp:pattern {"slug":"uc-slideshow"} /-->


    <!-- Below was built in GUI, then copied here. Don't mofify without reason. -->

	 





<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->



