<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- THE DYNAMIC (POSTS) HOME PAGE  -->
 <!-- currently identical to page.html 
  Blog Home loads fallback index.html -->

<!-- w/-p:template-part {"slug":"Sheet1", "tagName":"div"} /  -->
<!--div class="image-gallery"></div    UNCOMMENT TO RETURN JS GALLERY    -->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:post-content {"layout":{"inherit":true}} /-->
</main>
<!-- /wp:group -->



<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->

