<!-- wp:template-part {"slug":"header"} /-->

<!-- The Search Results PAGE template --> 


<!-- wp:search {"label":"Search","showLabel":false,"buttonText":"Search"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|60"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="margin-top:var(--wp--preset--spacing--60)">
	
	<!-- wp:pattern {"slug":"uc-slideshow"} /-->


</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->


