<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- BUILT UP FROM SINGULAR.HTML, which is IDENTICAL TO PAGE.HTML --> 



<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group has-global-padding">
    <div class="entry-content wp-block-post-content has-global-padding">
        <div class="wp-block-group has-global-padding">
            <figure class="pop-off">
                
                    <!-- wp:post-title {"level":1,"className":"wp-block-post-title"} /-->

                    <!-- wp:post-content { } /-->
                <!-- w p : p a t t e r n  {"slug":"uc-theme-ui/drink-post-content"} /-->
            </figure>
        </div>
    </div>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->


