/*supposed to be a global style*/
/*conflicts exist between style.css and main.css..
...so both plus source-library, and contact-us.css will be...
...compared & merged here  ... this RESOLVED?  */



.testBtn{	/*background-color: #C0C0C0;*/
	
	background-color:   #aaaae37a; 
	/*rgba(220, 105, 154, 0.4);  var(--original-pink); */
	
	border-radius: 1em;
background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg width="100px" height="100px" viewBox="0 0 24 24" stroke-width="1.5" fill="none" xmlns="http://www.w3.org/2000/svg" color="%23000000"><path d="M17 17L21 21" stroke="%23000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path><path d="M3 11C3 15.4183 6.58172 19 11 19C13.213 19 15.2161 18.1015 16.6644 16.6493C18.1077 15.2022 19 13.2053 19 11C19 6.58172 15.4183 3 11 3C6.58172 3 3 6.58172 3 11Z" stroke="%23000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
	background-size: cover;
	height: 4em;
	width: 4em;
	margin: 1em;
	border-radius: 1em;
	}

	.testBtn label{

	}


.close-button{

	position: absolute; 
	
	font-weight: 750;
	font-size: 3rem;

	background-color: rgba(0,0,0,0);;
	color:  #C0C0C0;
	text-shadow: 1px 3px 7px #dc699a; /*#CCCCFF*/
	
	border-width: 0; /*remove default "texture" */
	z-index: auto; 
	isolation: isolate;


}

.outside{
	top: -5%; 
	right: -5%;
}
.inside{
	top: 5%;
	right: 5%;
}



.close-button:hover{	cursor:pointer;	}
.close-button:active{	cursor: pointer;	}




/*Generic Parent Shell (to reach container borders)*/
.button{
	display: flex;
	padding:0.3em 1.0em;
	justify-content: center;
	
	/*border:var(--original-pink-border);*/
	font-family:"Gill Sans MT",sans-serif;
	font-weight: 300;
	font-size: 3vh; 
	color: #dc699a;
	height: fit-content;	
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
	/*to center content, both lines needed*/
	width: 75%;
	margin: 8vh auto 2vh;
	/*position: absolute;*/
	bottom: 4%; 
	left: 4%;
	
	/*desired:hover
	color: #C0C0C0;
	text-decoration: none;
	*/
	transition: all 0.2s;
} 



a.button4{
	display: inline-block; /*THIS makes top-bottom margin spacing effective*/
	padding:0.3em 1.0em;
	margin: auto;
	justify-content: center;
	
	border:var(--original-pink-border);
	border-radius: 6vh; /*changes corner 'fillet' size formerly 1.6em*/
	
	box-sizing: border-box;
	text-decoration:none;
	font-family:"Gill Sans MT",sans-serif;
	font-weight: 300;
	font-size: 1.8em; 
	color: #dc699a;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
}	/*	END BUTTON Styles	from style.css*/
a.button4:hover{	/*	clone of contact-button		*/
	color: #C0C0C0;
	border-color: #C0C0C0;
	background-color: black;
	font-family: "Libre Baskerville Italic"; 
}	





/*	Button Styles from contact-us.css	*/
/*	BUTTON Styles	*/

	

	.contact-button{	/*//////COPIED FROM https://fdossena.com/?p=html5cool/buttons/i.frag //EXAMPLE #4////*/
	/*display: inline-block; THIS makes top-bottom margin spacing effective*/
	padding:0.3em 1.0em;
	margin: 2rem 50%;
	transform:translate(-50%, -50%);
	
	
	border:var(--original-pink-border);
	border-radius:1.6em; /*changes corner 'fillet' size*/
	box-sizing: border-box;
	text-decoration:none;
	font-family:"Gill Sans MT",sans-serif;
	font-weight: 300;
	font-size: 1.8em; 
	color: #dc699a;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	text-wrap: nowrap;
	transition: all 0.2s;

	}

	.contact-button:hover{
		color: #C0C0C0;
		border-color: #C0C0C0;
		background-color: black;
		font-family: "Libre Baskerville Italic"; 
	}
	/*	END BUTTON Styles	*/
/*	END Button Styles from contact0us.css	*/



/*	/////////////CONTACT FORM HEREIN/////////////	*/
#contact-form{        } 
#return{ text-wrap: wrap; } 

.box {	/*Parent container to position contact form on grid*/
	
			
	height: auto;
	max-width: 72vw; 
	width: auto;
	margin: 0 15%;
	
	border: 0.4vw solid #dc699a;
	border-radius:2vw; /*changes corner 'fillet' size*/
	box-sizing: border-box;
	text-decoration:none;
	font-family:"Libre Baskerville",sans-serif;
	
	
	font-weight: 300; /*does control bold w/o separate font def.*/
	
	/*font-size: 1.8vh;  no difference */
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
	transition: all 0.2s;
	
	line-height: 1em;
	
	
}

.squeezed {    margin: 2rem;   }

#error{

	color: yellow;

 }




.box h4{
	
	font-family:"Libre Baskerville",sans-serif;
	
	font-size: 4.2vh; 

	margin: 2vh;;
	
}

.box label{
	
	font-style: oblique;
	
	
}

.box{

	font-size: 1.7rem;

}

fieldset{
	
	border: none;
	
}








/*  the submit button for search bar    */
#ucQuery{ width: 65%;	 margin-left: 17.5%;


}

/*  the search bar element  */
input {
    margin: 0.7em;
	font-style: oblique;
	text-decoration:none;
	/*font-weight: lighter;*/
	
	font-size: 2.4vh; 
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
}
/*  the placeholder text at search bar */
input::placeholder {
    opacity: 1.0;

}

/*  affects all search bars? */
textarea::placeholder{
	margin-top: 0.5rem;
	font-style: oblique;
	
	text-decoration:none;
	
	/*font-weight: lighter;*/
	
	font-size: 2rem; 
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
	opacity: 1.0;
}







/*Generic Shell for buttons to reach image-gallery borders*/
.fp-button{
		
	display: flex;
	
	width: 100%;
	justify-content: center;
	height: fit-content;
	position: relative;
	
}
a.fp-button-link{
 display: inline-block; /*THIS makes top-bottom margin spacing effective*/
 padding:0.3em 1.0em;
 margin: auto;
 justify-content: center;
 border:0.12em solid #f2993a;
 border-radius:1.6em; /*changes corner 'fillet' size*/
 box-sizing: border-box;
 text-decoration:none;
 font-family:"Gill Sans MT",sans-serif;
 font-weight: 300;
 font-size: 4.2vh; 
 color: #f2993a;
 text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
 text-align:center;
 transition: all 0.2s;

}
a.fp-button-link:hover{
 border: 0.24em solid #ddd; 
 font-weight: 550;
 color: var(--std-white-font);
 /*	 color: var(--std-white-font); */
}
















@media all and (orientation:landscape){ 
	
	.fp-button{ /*  move button to custom position on FP page  */
		top: 81vh;
	}

/*		/////////////CONTACT FORM HEREIN////////////		*/
/*		/////////////CONTACT FORM HEREIN////////////		*/

        /*Generic Shell for buttons to reach container borders*/
		/*///////BUTTON TO BE SAME "ROSE" COLOR AS RIBBON*/
		.button{
			display: flex;
			width: 100%;
			justify-content: center;
			/*to distance button from Romantic Cocktails above*/
			padding: 50% 0 0 0;
		}

		/*//////COPIED FROM https://fdossena.com/?p=html5cool/buttons/i.frag //EXAMPLE #4////*/

		a.button4{
		 display: inline-block; /*THIS makes top-bottom margin spacing effective*/
		 padding:0.3em 1.0em;
		 margin: auto;
		 justify-content: center;
		 
		 border:var(--original-pink-border);
		 border-radius:1.6em; /*changes corner 'fillet' size*/
		 box-sizing: border-box;
		 text-decoration:none;
		 font-family:"Gill Sans MT",sans-serif;
		 font-weight: 300;
		 font-size: 2.1vw; 
		 color: #dc699a; /*formerly #f-4-dff5*/
		 text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
		 text-align:center;
		 transition: all 0.2s;

		}
		a.button4:hover{
			 border: 0.24em solid #ddd; 
			 font-weight: 550;
			 color: var(--std-white-font);
			 /*	 color: var(--std-white-font); */
		}

		
		@media all and (max-width:30em){ /*why this here?*/
		 a.button4{
		  display:block;
		  margin:0.2em auto;
		}
		} 

/*Parent container to position contact form*/
.box {
			
			
	height: fit-content;
	
	
	
	
	border: 0.4vw solid #dc699a;
	border-radius: 3vw;
	
	text-decoration:none;
	font-family:"Libre Baskerville",sans-serif;
	
	
	font-weight: 300; /*does control bold w/o separate font def.*/
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
	transition: all 0.2s;
	
	line-height: 0.8em;
	
	
}

.box h4{
			
	font-family:"Libre Baskerville",sans-serif;
	
	font-size: 4.2vh; 
	float: none;
	margin: 2vh auto 2vh auto;
	
	
	
}

.box label{
	
	font-style: oblique;
	font-size: 2.1vh;
	
}



#individual{
	
	margin-left: 33%;
	float: left;
	
}
#business{
	
	margin-right: 33%;
	float: right;
	
}

fieldset{
	
	border: none;
	
}

input {
	margin-top: 0.5rem;
	font-style: oblique;
	
	text-decoration:none;
	font-family:"Libre Baskerville",sans-serif;
	
	/*font-weight: lighter;*/
	
	
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
}

input::placeholder {
	opacity: 1.0;
   
}

textarea::placeholder{
	margin-top: 0.5rem;
	font-style: oblique;
	
	text-decoration:none;
	font-family:"Libre Baskerville",sans-serif;
	
	/*font-weight: lighter;*/
	
	font-size: 2.4vh; 
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
	
}

.blogbox{  
	
		
	border: 3px solid white;
	
	height: auto;
	
	margin: 3vh auto;

}
/*		/////////////CONTACT FORM HEREIN////////////		*/
/*		/////////////CONTACT FORM HEREIN////////////		*/




}