/*Define your font by linking to files as per https://www.geeksforgeeks.org/how-to-include-a-font-ttf-using-css/*/
@font-face{
	font-family: Libre Baskerville;  /* HOW TO IMPLEMENT this font ? Need more URL src info? */
	src: url(LibreBaskerville-Regular.ttf);
	
}

/*TAKEN FROM https://stackoverflow.com/questions/23110412/css-scale-several-images-to-fit-viewport-keeping-aspect-ratio */
html, body{
	
	background: url("../photos/fireplace-background-new.png") round repeat; 
	
	background-color: #680015; /*formerly 61211f, then #70040*/
	color: white; 
	height: 100%;
	margin: 0;
	font-family: Libre Baskerville; 
}






/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/

@media screen and (orientation: landscape){
	
	
	
}



/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/
/*////////////    DESKTOP / LANDSCAPE LAYOUT   ////////////*/


























/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/

@media screen and (orientation: portrait){

	/*Webpage Wrapper, with CSS Grid definition*/
		.container{ 
			/*overflow-x: hidden; /*THIS to prevent Horizontal Scrolling on mobile*/
			/*padding: 2%;*/
			gap: 0;
			box-sizing: border-box;
			
			
		    color: white; 
			max-width: 100vw; /*1vw = 1% of viewport width*/
			
			
		
		
			font-family: "Libre Baskerville";
		
			/*Set Grid with right-side buffer for scroll bar*/
				display: grid ; 
				grid-template-columns: 2vw auto 2vw;
				grid-template-rows: auto auto auto auto 1fr auto;
					/*ANS: auto-sizing vs. fixed- sizing parameters (1fr is auto, 10px is fixed)*/
			/*grid: auto-flow dense / 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;*/
		
		
	  
		}
		
		
		
		
		.portrait{ /*REMAIN identical to .landscape (behavior traits) EXCEPT for max-dimensions*/
	
			float: left;
			
			grid-column: 2; 
			grid-row: auto;

			max-width: 100%;
			max-height: fit-content;
			

			height: auto;
			width: auto;
			
			
			
			margin-left: 1%;
			margin-right: 1%;
			
			border: medium solid #dc699a;
			padding: 8px;

		}
		
		/*Pop-out div ID to define border*/
		#pane{
			
			/*Uniquely position the pop-out pane*/
			float: left;
			grid-row: 1;

			max-width: fit-content;
			max-height: 100%;
			

			height: auto;
			width: auto;
			
			margin-left: 1%;
			margin-right: 1%;
			
			border: thick ridge rgba(222, 222, 222, 1.0); /*#C0C0C0*/
			padding: 8px;
			
			display: none;
			
			
		}
		
		/*Pop-out Caption ID*/
		#drink{
			
			/*border: 1px solid #dedede;*/
			font-size: 4vh;
			font-family: "Libre Baskerville";
			color: white;
			background-color: gray;
			
		}
		
		/*rgb(26,21,51, .8); midnight blue*/
		.subheads{ 
			
			background-color:  #F9F6EE; 
			display: flex;
			justify-content: space-between;
			padding: 8%;
			
			color: black;
			
		}
		
		.col1{
		
			float: left;

		}
		
		.col2{
			
			float: right;
			
		}
		
		
		
		
			
		/*#pane p{
			
			color: blue;
			padding: 3% 0;
		} */
		
		/*set area to contain Tags*/
		.tagged{
			
			height: fit-content;
			
			background-color: #fff7e0;
			color: blue;
			
			display: flex;
			justify-content: space-between;
			
			
		}
		
		/*TO CLEAR floated items (Add background color to "tagged"*/
		.tagged:after{
			content: "";
			display: table;
			clear: both;
		}
		
		
		/*
		.tagged ul li{
			
			padding: 0 0 16% 0;
			
		}
		*/
		
		
		
		
		
		figcaption{
			font-family: "Gill Sans MT", sans-serif; /*font works! Similar to domain.com*/
			
			font-size: 1.2vh;
			vertical-align: bottom; 
			/*"The vertical-align CSS property sets vertical alignment of an inline, 
			inline-block or table-cell box."*/
			border: 1px solid #dc699a;
			text-align: center;
		}


		img{	
		/*These two lines adjust width to container, height to match aspect ratio [defined by HTML img size]*/
			width: 100%;
			height: auto;
		/*These two lines adjust width to container, height to match aspect ratio [defined by HTML img size]*/
		}
		
		
		
		
		
} /*END @media*/

/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/
/*////////////    MOBILE  /  PORTRAIT LAYOUT   ////////////*/