*{
	
	box-sizing: border-box;
	background-color: #241547;
	
}

.image-gallery{
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	
	
}

img{
	
	width: 100%;
	height: 100%;
	
}

figure{
	
	display:none; 
	
}

figcaption{
	
	color: blue;
	/*font-family: "Gill Sans MT", sans-serif; /*font works! Similar to domain.com*/
	color: #dc699a;
	font-size: 2rem;
	padding: 3%;
	
}

.portrait{
	
	max-width: 25vw;
	height: auto;
	margin: auto;
}

.landscape{
	
	max-width: 33vw;
	height: auto;
	margin: auto;
}






@media(orientation: portrait){
	
	
	figure{
		
		display:none; 
		align-items: center;
		flex-direction: column-reverse;
		
	}

	figcaption{
		
		color: green;
		font-size: 3rem;
		
		color: #dc699a;
		
	}

	.portrait{
		
		max-width: 85VW;
		height: auto;
		margin: 5% auto;
	}

	.landscape{
		
		max-width: 90vw;
		height: auto;
		margin: 5% auto;
	}
	
	
}