
<!--head>
  ...head is inserted by WP
	and matches all manual settings anyway  -->
	
	<!--  meta & html tags duplicate of WP insert  -->
	<!--Character set ->
	<meta charset="utf-8"-->
	<!--Language: English->
	<html lang="en"-->
	<!--Define ViewPort->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"-->
	
	<!--  Local style & script enqueue by wp_functions in functions.php  ->
	<link rel="stylesheet" type="text/css" href="../style.css" -->
	<!--script defer src = "scripts/source-libraryy.js"></script-->
    
	<!--link  rel="stylesheet"  href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css"/-->
    <!--title>Home</title--> <!-- Set Title in WP Editor ->

</head-->


<!-- wp:pattern {"slug":"header"} /-->

    <!-- wp:template-part {"slug":"index-main", "tagName":"index-main"}  /-->


<!-- wp:template-part {"slug":"footer", "tagName":"footer"}  /-->

	
	</body> 
				 
</html>