

/*//////// MOBILE / PORTRAIT LAYOUT ////////////////*/
/*//////// MOBILE / PORTRAIT LAYOUT ////////////////*/
/*//////// MOBILE / PORTRAIT LAYOUT ////////////////*/

@media (orientation: portrait){ 	

	.fp-vertUne{	grid-row: 3 / span 1; grid-column: 2;	} 
	.fp-vertDeux{	grid-row: 4 / span 1; grid-column: 2;	}
	.fp-vertTrois{	grid-row: 5 / span 1; grid-column: 2;	}*/

}

/*//////// MOBILE / PORTRAIT LAYOUT ////////////////*/
/*//////// MOBILE / PORTRAIT LAYOUT ////////////////*/
/*//////// MOBILE / PORTRAIT LAYOUT ////////////////*/

/*////////////// DESKTOP / LANDSCAPE LAYOUT //////////////*/
/*////////////// DESKTOP / LANDSCAPE LAYOUT //////////////*/
/*////////////// DESKTOP / LANDSCAPE LAYOUT //////////////*/
@container (orientation: landscape){

	 /*https://www.youtube.com/watch?v=Y9rHsdCxU8Q*/
	.image-gallery{

		  max-width: 100vw; /*1vw = 1% of viewport width*/

	 }
	 .fireplace{
	    /*Set Grid with right-side buffer for scroll bar*/
			display: grid ; 
			grid-template-columns: 5vw 1fr 1fr 1fr 1fr 1fr 1fr 5vw;
			grid-template-rows: auto auto auto auto auto auto;
					/*ANS: auto-sizing vs. fixed- sizing parameters (1fr is auto, 10px is fixed)*/
			/*grid: auto-flow dense / 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;*/
			
			gap: 10px; 
			padding: 10px;
		 	box-sizing: border-box;
			margin-right: 2px;
			position: relative;

	 }

	 /*Column format same as Home Page*/
	 .fp-vertUne{
			grid-column: 2 / span 2;
			margin: 2em 0 0 0;
			/*Made this flex so Margins would be respected*/
			/*display: flex; flex-direction: column; align-content: space-between;*/
			height: fit-content;
			grid-row: 3;
		}	.fp-vertDeux{	
					/*display: inline-grid; /*THIS HELPS image-gallerys not to overlap figure classes (as w/ button)*/
					grid-column: 4 / span 2;
					margin: 0;
					height: auto;
					
					min-height: 180vh; /*This to stop overlap w/ bottom navbar.*/
					grid-row: 3; 
					}	.fp-vertTrois{
								grid-column: -4 / span 2;
								margin: 0;
								min-height: 200vh;
								height: auto;
								grid-row: 3; 
		} 

	figcaption{
	
		font-family: 'LibreBaskerville-Regular', serif;
		font-size: 160%; /*Make larger relative to its own image-gallery*/
		font-weight: bolder;
		
		/*Position abolute relative to portrait or landscape*/
		color: #f2993a;
		line-height: 1.2vw;
		
		/*to improve readability on like backgrounds*/
		text-shadow: 4px 1px 4px black;
		/* offset x, offset y, blur radius, color */

		/*Default behavior for Fireplace Captions*/
		position: absolute; 
		bottom: 8%;
		right: 8%;
	} 
	
	/*Custom ID's for custom placements in desktop*/
	/*IF TOP doesn't work, use margin-top*/
	/*Star Anise Margarita*/
	#foto-une{ left: 25%; top: 8%; width: 45vw;} 
	/*Holiday Punch*/
	#foto-deux{  margin-top: -25%; right: 4%;	} 
	/*Martini*/
	#foto-trois{ top: 36%; width: 28vw; z-index: 1;}
	/*Eggnog Martini*/
	#foto-quatre{	top: 36%; margin-left:-12%; margin-right: 24%; z-index: 1; }
	/*Cranberry Sidecar*/
	#foto-cinq{	 top: 9%; right: 12%; width: 28vw;}
	/*Fruity Old Fashioned*/
	#foto-sixieme{	bottom: -20%; right: 0;	}
	/*Ported Sweet Manhattan*/
	#foto-sept{	right: 42%; margin-top: 100%; width: 35vw;} 

/*FIX the space beneath img saved for reconfig <figcaption>*/
/*https://www.tutorialrepublic.com/faq/how-to-remove-white-space-under-an-image-using-css.php*/

	.portrait{
		border: medium solid black;
		max-width: 50vw; /*neither VW nor % will grow outside image-gallery. */
		height: auto;
		width: fit-content;
		
		/*To make this reference point for custom #figcaption repositioning*/
		position: relative;		
		
	}

	.landscape{
		max-width: 66vw;
		width: auto;
		height: fit-content;  /* this prevents image-gallerys of infinite length*/
		/*To make this reference point for custom #figcaption repositioning*/
		position: relative;
		border: medium solid black;  
	}

	figcaption{
		
		font-family: 'LibreBaskerville-Regular', serif;
		font-size: 160%; /*Make larger relative to its own image-gallery*/
		font-weight: bolder;
		
		/*Position abolute relative to portrait or landscape*/
		color: #f2993a;
		line-height: 1.2vw;
		
		/*to improve readability on like backgrounds*/
		text-shadow: 4px 1px 4px black;
		/* offset x, offset y, blur radius, color */
		
		/*Default behavior for Fireplace Captions*/
		position: absolute; 
		bottom: 8%;
		right: 8%;
	} 

/*Custom figcaptions for each drink, to align captions accordingly
	.s-a-caption{
		
		position: absolute;
		top: 4%;
		right: 8%;
		
	}  .c-s-caption{	position: absolute; bottom: 4%; right: -4%;	}

	.e-m-caption{ position: absolute; bottom: 8%; right: 4%; }
	
	#martini{ /*Borders don't respect transform: 
		
		transform: rotate(270deg);
		
	} */
	
	.p-s-m-w-A-caption{
			
			text-align: end;
			
		}	

/*
	.martini-caption{	
		position: absolute; 
		bottom: 4%; 
		left: 16%;
		}	.h-p-caption{
			
			position: absolute; 
			top: 8%;
			left: 8%;
			
		} .f-o-f-caption{
			
			position: absolute; 
			bottom: 8%; 
			right: 4%;
			
		} */	/*Custom figcaptions for each drink, to align captions accordingly*/

/*END DESKTOP LAYOUT*/
}

/*////////////// DESKTOP / LANDSCAPE LAYOUT //////////////*/