#hidden{

	display:none;

}

/*		Global Styles?! 		*/
/*		Global Styles?! 		*/
/*		Global Styles?! 		*/
/*		Global Styles?! 		*/
	
@media all{

#source-table{		/*Hide Source (raw .xlsx -> .html data) Table */
	
	display: none;
	
}

*{		/*Apply to All Elements*/
	
	box-sizing: border-box;
	background-color: #241547;
	
	text-shadow: 1px 3px 14px #CCCCFF;
	color: #ddd;
	
}

html{	/*obliges viewport size*/
	
	height: 100%;
	max-width: 100vw; /*aha oui oui*/
	
}

body{	/* expands x and y to fit .image-gallery*/
	
	overflow-x: hidden;
	
	width: fit-content;
	
	height: auto;
	
	margin: 0;
}

figure{ /*Center most pictures('s containers)*/
	margin: auto;
}

.image-gallery{		
	
	height: auto;
		
	max-width: 100vw;
	
	margin: 2%; /*helps*/
	
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;		doesn't works	*/
	align-content: space-between;
	
	/*position: relative;*/

}

.pop-off{ /*detailsPane*/
					
	/*default behavior*/
	display: none;
	height: fit-content;
	width: auto;

	max-height: 85%;
	max-width: 85%;

	/*default style*/
	padding: 0;
	margin: 0;
	background-color: rgba(255,255,255,0); 
	border: thick ridge rgba(222, 222, 222, 1.0); /*#C0C0C0*/

	/*position: sticky sets isolation:isolate automatically
	position: sticky;*/
	
	/*three lines Center w/ position:absolute*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
	/*climb the Z ladder*/
	z-index: 2;

} .pop-off figure{ margin-top: 0;/*remove default 5% (exists on <figures to improve page spacing*/}

/*Pop-out Caption ID*/
#detailCaption{
	
	/*border: 1px solid #dedede;*/
	font-size: 4vh;
	font-family: "Libre Baskerville";
	color: white;
	background-color: gray;
	
}

/*PASTE FROM DETAILS EXAMPLE*/

/*rgb(26,21,51, .8); midnight blue*/
.subheads{ 
	
	background-color:  #F9F6EE; 
	display: flex;
	justify-content: space-between;
	padding: 8%;
	
	color: black;
	
}

.col1{

	float: left;

}

.col2{
	
	float: right;
	
}

/*#pane p{
	
	color: blue;
	padding: 3% 0;
} */

/*set area to contain Tags*/
.tagged{
	
	height: fit-content;
	
	background-color: #fff7e0;
	color: blue;
	
	display: flex;
	justify-content: space-between;

}

/*TO CLEAR floated items (Add background color to "tagged"*/
.tagged:after{
	content: "";
	display: table;
	clear: both;
}

/*
.tagged ul li{
	
	padding: 0 0 16% 0;
	
}
*/
/*PASTE FROM DETAILS EXAMPLE*/
/*PASTE FROM DETAILS EXAMPLE*/
/*PASTE FROM DETAILS EXAMPLE*/
/*PASTE FROM DETAILS EXAMPLE*/

/*		SCROLLING TEXT BOX		*/
				#scroll-container {
				  /*border: 3px solid black;*/
				  border-radius: 2em;      /*default 5px*/
				  overflow: hidden;
				}

				#scroll-text {
				  /* animation properties */
				  -moz-transform: translateX(100%);
				  -webkit-transform: translateX(100%);
				  transform: translateX(100%);
				  
				  -moz-animation: my-animation 15s linear infinite;
				  -webkit-animation: my-animation 15s linear infinite;
				  animation: my-animation 15s linear infinite;
				}

				/* for Firefox */
				@-moz-keyframes my-animation {
				  from { -moz-transform: translateX(100%); }
				  to { -moz-transform: translateX(-100%); }
				}

				/* for Chrome */
				@-webkit-keyframes my-animation {
				  from { -webkit-transform: translateX(100%); }
				  to { -webkit-transform: translateX(-100%); }
				}

				@keyframes my-animation {
				  from {
					-moz-transform: translateX(40%);
					-webkit-transform: translateX(40%);
					transform: translateX(40%);
				  }
				  to {
					-moz-transform: translateX(-80%);
					-webkit-transform: translateX(-80%);
					transform: translateX(-80%);
				  }

				}
/*		SCROLLING TEXT BOX		*/

}		
/*		END Global Styles?! 		*/
/*		END Global Styles?! 		*/
/*		END Global Styles?! 		*/
/*		END Global Styles?! 		*/

/*		DESKTOP STYLES		*/
/*		DESKTOP STYLES		*/
/*		DESKTOP STYLES		*/
/*		DESKTOP STYLES		*/

@media all and (orientation: landscape){

	h1 { /*"Untouched Cocktails ~~ Celebrating Every Occasion"*/
		display: flex;
		justify-content: center;
		grid-column: 2 / -2;
		font-size: 2.8vw;
	}

	h2{ /*Quote 3 near bottom*/
		font-family: "Libre Baskerville" ,serif; 
		font-size: 1.2vw;
		text-align: center;
		font-weight: normal;
		font-style: italic;
		margin: auto;
		height: fit-viewport-keeping-aspect-ratio;
		/*grid-row: auto / span 1;
		grid-column: span 2;*/
	}

	h3,h4,h5,h6{
		text-align: center;
		
	}

				/*MATCH LINE SPACING (quoteTwo to match quoteOne)match line breaks from quoteTwo*/
		/*Improved BUT 1st line still breaks for 'quoteOne' before 'quoteTwo' when narrowing screen*/ 
		.quoteOne{ 
			text-align: left;
			font-family: "Libre Baskerville", serif;
			
			/*grid-column-start: 2;*/
			/*grid-column-end: 5;*/
			font-size: 1.4vw;
			line-height: 1.2vw;
			
			font-weight: bold;
			font-style: italic;
			margin-left: 1em;
			
		}

		.quoteTwo{
			font-family: "Libre Baskerville", serif;	
			/*grid-column-start: 5;*/
			/*grid-column-end: 8;*/
			font-size: 1.4vw;
			line-height: 1.2vw;
			text-align: right;

			font-weight: bold;
			font-style: italic;
			margin-right: 1em;
		}

		figure{
			
			display: none;
			
			padding: 0;
			border: solid #dc699a;
			
			flex-direction: column;
			
			margin-top: 5%; /*aligns at top of row x-axis (which is imaginary)*/
		}

		figcaption{
			
			/*font-family: "Gill Sans MT", sans-serif; /*font works! Similar to domain.com*/
			color: #dc699a;
			font-size: 1.6em;
			padding: 3%;
			
			/*Prevent multi-line captions*/
			white-space: nowrap;
			overflow: hidden;
			
		}

		img{
			
			width: 100%;
			height: 100%;

		}

		.portrait{
				
				max-width: 25vw;
				height: auto;
				
			}

		.landscape{
				
				max-width: 33vw;
				height: auto;
	
		}	

		/*NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/
/*NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/
/*Site Ribbon - Navigation "Bar" with links to other pages*/

	/* Style the navigation menu */
	.topnav {
		overflow: hidden;
		
		/*Allows hamburger and custom <p> to be placed with :absolute*/
		position: relative;

		/*BELOW from .siteRibbon*/
		font-family: "Libre Baskerville",serif;
		background-color: rgb(6, 16, 32);
		padding: 0.7vw;
		border: 4px ridge #dc699a;
		
		  grid-column: 2 / span 6;
		  
		  margin: 2%; /*Top Right Bottom Left*/
		  /*overflow-x: show; TO HELP DIAGNOSE Start-Overflow in SiteRibbon*/
		  overflow-y: hidden;
		  
		  line-height: 4vw;
		  
		  display: flex;
		  align-content: space-between;
		  
	  }
	  
	  /* Style navigation menu links */
	  .topnav a {
		color: white;

		padding: 0; /*to improve img spacing*/
		
		text-decoration: none;
		font-size: 1.8vw;
		
		/*Make horizontal, not vertical.*/
		display: inline;

	  }
	  .topnav a:hover {
		background-color: #ddd;
		color: blue;
	  }

	  .write-over{
		  
		  display: none;
		  
		  position: absolute;
		  top: 2px;
		  bottom: 2px;
		  left: 75px;
		  right: 50px;
		  
		  line-height: 0.75;

	  } #size-this{ 
	  
	  /*Hide the copyright (filler) info for Desktop layout*/
	  font-size: 2.7vw;  display: none;}

	  /* Style the hamburger menu */
	  .topnav a.icon {
		background: black;
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		
		/*Hide hamburger icon*/
		display: none;
	  }
	  
	  .topnav #tierOne{
		  
		  padding: 1.0vw 0 0 0;
		  
	  }
	  
	  .topnav #tierOne a{
		  
		  padding: 14px 16px;
		  
	  }

	  /* Style the active link (!! home/logo) */
	  .active {
		background-color: rgb(6,16,32); /*CCCCFF*/
		color: white;
		/*font-size:2.7vh;*/
		
		max-height: fit-content;	
		height: auto;

		/*Fixes width to button*/
		max-width: fit-content;
		width: auto;

		margin: 1%;
		
		display: inline;

	  } 
	  
	  /*Insert padding which fails in .active alone for some reason*/
	  #pad-this{
		  /*Needed to overwrite padding:0 prefered on .topnav <a> generally*/
		  
		  color: black;
		  padding: 1.2vw; /*No effect*/
		  
	  }

	  /*Style a p element to match <a> elements (for Current page)*/
	  .topnav p{
		  
		  background-color: #aaaae3; 
		  color: white;
		padding: 14px 16px;
		text-decoration: none;
		font-size: 1.8vw;
		display: inline;	
	  }
	  
	  /*custom ID for <figure> logo in navbar*/
	  #logo-to-home{

		  max-height: 100%;
		  width: 4vw;
		  height: auto;
		  padding: 0;
		  
		  /*Now aligns, resizes container correctly.*/
		  display: flex;
		  align-content: center; 
		  justify-content: center;

	  }
	  
	  .topnav img{
		  
		  display: inline;
		  max-height: 100%;
		  width: auto;
		  max-width: 6vw;
		  
	  }

  /*//////NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/
/*//////NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/
/*///////NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/

}

/*		DESKTOP STYLES		*/
/*		DESKTOP STYLES		*/
/*		DESKTOP STYLES		*/
/*		DESKTOP STYLES		*/

/*		MOBILE STYLES		*/
/*		MOBILE STYLES		*/
/*		MOBILE STYLES		*/
/*		MOBILE STYLES		*/

@media all and (orientation:portrait){
	h1 { /*"Untouched Cocktails ~~ Celebrating Every Occasion"*/
		display: flex;
		justify-content: center;
		grid-row: 2 / span 1;
		grid-column: 2;
		font-size: 2.8vh;
		text-align: center;
		text-shadow: 1px 3px 14px #CCCCFF;		}

	.quoteOne, .quoteTwo{	font-family: "Libre Baskerville", serif;
		
		line-height: 2.0vh;
		font-weight: bold;
		font-style: italic;
		
		font-size: 1.8vh;
		
		}
		
	/*Top of page quote one*/	
	.quoteOne{ 
		text-align: left;
		float: left; 
		margin: 1em 2em 0 0;
		width: 100%; 
		
		}
		
	/*Top of page quote two*/
	.quoteTwo{
		text-align: right;
		float:right;
		margin: 2em 2em 0 0 ;
		width: 100%;
		
		}

	/*Quote three fits in a .vert container*/
	.quoteThree{
		font-family: Libre Baskerville; 
		display: block;
		margin: auto;
		
		font-size: 2.8vh;
		text-shadow: 1px 3px 7px #dc699a; /*#CCCCFF*/
		text-align: center;
					
	}

		figure{
			
			display: none; 
			float:left;
			
			padding: 0;
			border: solid #dc699a;
			
			margin: auto;
			margin-top: 5%;
			
			flex-direction: column; /*reverse caption position*/
			
			object-fit: contain;
			
			z-index: 4; 	/*doesn't help .addEventListener*/		
			
		}

		/*Set image pop-out effect for gallery only*/
		.image-gallery img:hover{ 

			transform:scale(1.2);
			
		} 

		figcaption{
			
			/*font-family: "Gill Sans MT", sans-serif; /*font works! Similar to domain.com*/
			color: #dc699a;
			font-size: 3rem;
			padding: 3%;
			
			/*Prevent multi-line captions*/
			white-space: nowrap;
			/*overflow: hidden;*/
			z-index:3;

			/*Number 0 = transparent background on captions*/
			background-color: rgba(250,250,250,0)
		}

		img{
			
			width: 100%;
			height: 100%;

		}

		.portrait{
				width: auto;

				max-width: 85vw;
				height: auto;
				
		}
		
		.landscape{
				width: auto;
				
				max-width: 95vw;
				height: auto;
				
		}	

/*NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/
		/*NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/
			/*Site Ribbon - Navigation "Bar" with links to other pages*/

			 /* Style the navigation menu */
			 .topnav {
				overflow: hidden;
				position: relative;

				/*BELOW from .siteRibbon*/
				font-family: "Libre Baskerville",serif;
				background-color: rgb(6, 16, 32);
				padding: 1vw;
				border: 4px ridge rgb(1, 1, 1, 1)/*formerly #dc699a*/;
				
				/*grid-column: 2 / span 1;*/
				min-width: 95%; /*of <body>*/

				  margin: 2%; /*Top Right Bottom Left*/
				  /*overflow-x: show; TO HELP DIAGNOSE Start-Overflow in SiteRibbon*/
				  overflow-y: hidden;

			  } 
			  
			  .write-over{
				  
				  /*display: flex; /*no effect - Use if reorienting later
				  align-content: space-between;*/
				  
				  position: absolute;
				  top: 2px;
				  
				  left: 65px;
				  right: 6vh;
				  
				  /*These three lines help keep black space beneath text box*/
				  height: fit-content;
				  max-height: auto; /*genius*/
				  bottom: 6px;
				  
				  line-height: 0.75;
				  
				  margin: 4px 0 0 auto;
				  display: block;			}  #size-this{ font-size: 2.7vw; }

			  /* Hide the links inside the navigation menu (except for logo/home) */
			  .topnav #tierOne {
				display: none;
				
			  }

			  /* Style navigation menu links */
			  .topnav a {
				color: white;
				padding: 14px 16px;
				text-decoration: none;
				font-size: 2.7vh;
				display: block;

			  }

			  /* Add a grey background color on mouse-over */
			  .topnav a:hover {
				background-color: #ddd;
				color: black; /*black?*/
			  }
  
			  /* Style the active link (or home/logo) */
			  .active {
				background-color: rgb(6,16,32); /*aaaaa3*/
				color: white; /*IF text*/
				height: fit-content;
				
				/*Fixes width to button*/
				max-width: fit-content;
				width: auto;
				
				/*display: inline;*/
				} 

			  /*Style a p element to match <a> elements (for Current page)*/
			  .topnav p{

				  background-color: #aaaae3; 
				  color: white;
				  padding: 14px 16px;
				  text-decoration: none;
				  font-size: 2.7vh;
				  display: block;	
				  
			  }
  
			  /* Style the hamburger menu */
			  .topnav a.icon {
				background: rgb(6,16,32);
				display: inline-block;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 1;
				width: auto;
				padding: 7px 8px;
			  }

			  .topnav img{
				  
				  display: inline;
				  max-height: 50px;
				  width: auto;
				  max-width: 10vw;

			  }

				  /*NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/
			  /*NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/
		  /*NEW HAMBURGER MENU EXPANDS VERTICALLY HEREIN//////////////*/

			  .footRibbon{
			  
			  grid-column: 2 / span 1;
			  background-color: black;
			  border: 4px ridge #dc699a;
			  white-space: nowrap;
			  margin: 2px;
			  
			  height: fit-content;
			  
			  color: white;
			  
			  /*These two lines make <p> respect <figure>*/
			  display: flex; 
			  justify-content: space-between;
			  /*These two lines make <p> respect <figure>*/
		  }
	
		  #pied{ /*PIED is an ID Selector meant to act as a fig caption for the logo img (one appearance per page)*/
	  
			  font-family: "Gill Sans MT", sans-serif; /*font works! Similar to domain.com*/

			  vertical-align: bottom; 
			  /*"The vertical-align CSS property sets vertical alignment of an inline, 
			  inline-block or table-cell box."*/
			  padding: 3px;
			  border: none;
			  text-align: center;
	  
		  }
		  .footRibbon figure{
	  
			  /*INLINE-BLOCK and FLOAT: are incompatible*/
			  display: inline;
			  float: right;
			  margin: auto;

		  }
  
		  .footRibbon figure img{
		  
			  display: inline;
			  height: 100%;
			  width: auto;
			  max-height: 8vh;
			  
		  }
  
	  .footRibbon p{
			  
		  margin: 2vw auto;
		  text-align: left;		
		  font-size: 1.6vh;

	  }
		  /*/////////END footRibbon pieces/////////////////////*/
	  /*/////////END footRibbon pieces/////////////////////*/
  /*/////////END footRibbon pieces/////////////////////*/

}

/*		MOBILE STYLES		*/
/*		MOBILE STYLES		*/
/*		MOBILE STYLES		*/
/*		MOBILE STYLES		*/