@font-face{
	font-family: Libre Baskerville;  /* HOW TO IMPLEMENT this font ? Need more URL src info? */
	src: url(LibreBaskerville-Regular.ttf);
	
}

/*TAKEN FROM https://stackoverflow.com/questions/23110412/css-scale-several-images-to-fit-viewport-keeping-aspect-ratio */
html, body{
	background-color: rgb(26,21,51);
	height: 100%;
	margin: 0;
	font-family: Libre Baskerville; 
}

/*/////////////////////////////////////DESKTOP / LANDSCAPE DISPLAY BELOW///////////////////////*/
	/*//////////////////////////////////////////DESKTOP / LANDSCAPE DISPLAY BELOW///////////////////////*/
		/*//////////////////////////////////////////////DESKTOP / LANDSCAPE DISPLAY BELOW///////////////////////*/

@media not (orientation: portrait){

 /*https://www.youtube.com/watch?v=Y9rHsdCxU8Q*/
.container{

	  color: white;
	  max-width: 100vw; /*1vw = 1% of viewport width*/
	  max-height: 300vh; 
	  padding: 10px;
	  box-sizing: border-box;
		margin-right: 2px;
		
		font-family: "Libre Baskerville";
		
		/*Set Grid with right-side buffer for scroll bar*/
		display: grid ; 
		grid-template-columns: 2vw 16vw 16vw 16vw 16vw 16vw 16vw 2vw;
		grid-template-rows: auto auto auto auto 1fr auto;
				/*ANS: auto-sizing vs. fixed- sizing parameters (1fr is auto, 10px is fixed)*/
		/*grid: auto-flow dense / 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;*/
		
		gap: 10px; 
	  
 }

 .wrapTest{
	 
	 display: flex;
	 flex-direction: row;
	 
	 grid-column: 4 / span 4;
	 
	 height: fit-content;
	 width: fit-content;
	 
 }

.videOnly, video{
			
			margin: 0;
			
			max-width: 32vw;
			height: auto;
			float: right;
			
		}

h2{

	display: grid;
	grid-column: 2 / span 2;
	
	font-size: 2.1vh;
	font-weight: normal;
	line-height: 2.0;

	padding: 2vw;
	text-align: center;
	
	margin: 0;
	
}

/*//////////////CONTACT FORM HEREIN/////////////////////*/
		/*//////////////CONTACT FORM HEREIN/////////////////////*/
			/*//////////////CONTACT FORM HEREIN/////////////////////*/
.box {

	height: auto;
	width: fit-content;

	font-family:"Libre Baskerville",sans-serif;

	font-weight: 300; /*does control bold w/o separate font def.*/
	
	font-size: 1.8vh; 
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
	transition: all 0.2s;
	
	line-height: 1em;
	margin: 2vw; 

}

#contact-form{
	
	grid-column: 6 / span 2;
	grid-row: 2;
	border: 0.4vw solid #dc699a;
	border-radius:2vw; /*changes corner 'fillet' size*/
	/*box-sizing: border-box;*/
	text-decoration:none;

}

.box h4{
	
	font-family:"Libre Baskerville",sans-serif;
	
	font-size: 4.2vh; 
	float: none;
	margin: 2vh auto 2vh auto;
	
}

.box label{
	
	font-style: oblique;
	font-size: 1.4vw;
	
}

#individual{
	
	margin-left: 33%;
	float: left;
	
}
#business{
	
	margin-right: 33%;
	float: right;
	
}

fieldset{
	
	border: none;
	
}

input {
    margin-top: 0.5rem;
	font-style: oblique;
	
	text-decoration:none;
	font-family:"Libre Baskerville",sans-serif;
	
	/*font-weight: lighter;*/
	
	font-size: 2.4vh; 
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
}

input::placeholder {
    opacity: 1.0;
   
}

textarea::placeholder{
	margin-top: 0.5rem;
	font-style: oblique;
	
	text-decoration:none;
	font-family:"Libre Baskerville",sans-serif;
	
	/*font-weight: lighter;*/
	
	font-size: 2.4vh; 
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
	opacity: 1.0;
}
/*/////////////CONTACT FORM HEREIN/////////////*/

}
/*//////////////////////////////////DESKTOP / LANDSCAPE DISPLAY ABOVE///////////////////*/

@media (max-width: 600px), (orientation: portrait) { 

	.container{ /*PASTED then commented out old code*/
			/*overflow-x: hidden; /*THIS to prevent Horizontal Scrolling on mobile*/
			/*padding: 2%;*/
			box-sizing: border-box;

		    color: white; 
			max-width: 100vw; /*1vw = 1% of viewport width*/

			font-family: "Libre Baskerville";
		
			/*Set Grid with right-side buffer for scroll bar*/
				display: grid ; 
				grid-template-columns: 2vw auto 2vw;
				grid-template-rows: auto auto auto auto 1fr auto;
					/*ANS: auto-sizing vs. fixed- sizing parameters (1fr is auto, 10px is fixed)*/
			/*grid: auto-flow dense / 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;*/
		
		gap: 0;
	  
		}

		h2{
			
			display: grid;
			grid-column: 2 / span 1;
			grid-row: 2;
			
			font-size: 2.1vh;
			font-weight: normal;
			line-height: 2.0;

			padding: 2vw;
			text-align: center;
			
		}
		
		/*THIS container to help with re-ordering for 1.Narrative 2. Video 3. Form on Desktop to 
		1. Narrative (3.Form   2. Video) ~~rest content on MOBILE*/
		.wrapTest{
			
			grid-column: 2 / span 1;
			grid-row: 3 / span 2;
			
			display: flex;
			flex-direction: column-reverse;
			
		}
		
		/*this for ALL VIDEO properties*/
		.videOnly, video{
			
			margin: 1vw 0 0 1vw;
			
			max-width: 100%;
			height: auto;

		}

	/*//////////////CONTACT FORM HEREIN/////////////////////*/
		/*//////////////CONTACT FORM HEREIN/////////////////////*/
			/*//////////////CONTACT FORM HEREIN/////////////////////*/
.box {
	display: grid;
	
	grid-column: 6 / span 2;
	grid-row: 2;
	
	height: auto;

	border: 0.4vw solid #dc699a;
	border-radius:2vw; /*changes corner 'fillet' size*/
	box-sizing: border-box;
	text-decoration:none;
	font-family:"Libre Baskerville",sans-serif;

	font-weight: 300; /*does control bold w/o separate font def.*/
	
	font-size: 1.8vh; 
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
	transition: all 0.2s;
	
	line-height: 1em;

}

.box h4{
	
	font-family:"Libre Baskerville",sans-serif;
	
	font-size: 4.2vh; 
	float: none;
	margin: 2vh auto 2vh auto;
	
}

.box label{
	
	font-style: oblique;
	font-size: 2.1vh;
	
}

#individual{
	
	margin-left: 33%;
	float: left;
	
}
#business{
	
	margin-right: 33%;
	float: right;
	
}

fieldset{
	
	border: none;
	
}

input {
    margin-top: 0.5rem;
	font-style: oblique;
	
	text-decoration:none;
	font-family:"Libre Baskerville",sans-serif;
	
	/*font-weight: lighter;*/
	
	font-size: 2.4vh; 
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
	
}

input::placeholder {
    opacity: 1.0;
   
}

textarea::placeholder{
	margin-top: 0.5rem;
	font-style: oblique;
	
	text-decoration:none;
	font-family:"Libre Baskerville",sans-serif;
	
	/*font-weight: lighter;*/
	
	font-size: 2.4vh; 
	color: #dc699a; /*formerly #f-4-dff5*/
	text-align:center;
	opacity: 1.0;
}
/*/////////////CONTACT FORM HEREIN/////////////*/

}