

/*TAKEN FROM https://stackoverflow.com/questions/23110412/css-scale-several-images-to-fit-viewport-keeping-aspect-ratio */
html, body{
	/*background-color: #452987; 
	background-image: url("../photos/summertime-background.jpg"); */
	
	background: url("../photos/summertime-background.png");
		background-size: cover;

	/*background: ...round repeat;   // makes image resize more smart like*/

	color: white; 

	height: 100%;
	margin: 0;
	font-family: Libre Baskerville; 

	text-shadow: 1px 3px 14px #F7BCAC;
	background: url("https://untouchedcocktails.com/wp-content/uploads/2023/04/summertime-background.png");
		background-size: repeat;
	
}

.springtime{ display: flex; flex-direction: column; background: url("https://untouchedcocktails.com/wp-content/uploads/2023/04/summertime-background.png");
		background-size: repeat;}

/*
Springtime Cocktails	Background	# 66FF25 (bright green with 42% transparency)
	Borders/Font 2	#5C84CC (med-light blue)
	Font 1	#F9F6EE (white) //
	Shape/shadow	#F7BCAC (pale melon)

	*/

/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
@container all and (orientation: portrait){
	
		/*https://www.youtube.com/watch?v=Y9rHsdCxU8Q*/
	.container{
		  max-width: 100vw; /*1vw = 1% of viewport width*/
		  max-height: 600vh; 
		  padding: 0; 
		  box-sizing: border-box;
		  /*right-side buffer for scroll bar*/
		  /*also replace padding-right: for scroll bar*/
			margin: 0 8px 0 4px;
			font-family: "Libre Baskerville", serif;
			/*Set Grid with */
			display: grid ; 
			grid-template-columns: 1% 96vw 1%;
			grid-template-rows: auto auto auto auto auto;
			/*ANS: auto-sizing vs. fixed- sizing parameters (1fr is auto, 10px is fixed)*/
			/*grid: auto-flow dense / 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;*/
			gap: 2px;    }
	
	/*Use Figure & Figcaption for img div and caption div*/
		.landscape{   
			float: left;
			max-width: 100%;
			min-height: fit-content; /*TAKEN from size of only landscape photo*/
			height: auto; /* this prevents containers of infinite length*/
			width: auto;
			/*FOR NOW These margins space the three-column page better*/
			margin-left: 1%;
			margin-right: 1%;
			border: medium solid #1bf54e;
			padding: 8px;

		}

		.portrait{ /*REMAIN identical to .landscape (behavior traits) EXCEPT for max-dimensions*/
			float: left;
			justify-content: center;
			align-content: center;
			max-width: 100%;
			max-height: fit-content;
			height: auto;
			width: auto;
			margin-left: 1%;
			margin-right: 1%;
			border: medium solid #1bf54e;
			padding: 8px;

		}

		/*CUSTOM Photo IDs for margins & such*/
		#foto-last{ margin-bottom: 12vh; }
		
		.vertUne, .vertDeux, .vertTrois{
			grid-column: 2 / span 1;
			
			grid-row: auto;
		}	.vertDeux{	grid-row: 6;	}	.vertTrois{	grid-row: 7; }
		.vertUne{ grid-row: 5;}

		.quoteOne, .quoteTwo{	font-family: "Libre Baskerville", serif;
			grid-column-start: 1;
			grid-column-end: -1;
			line-height: 1.4vh;
			font-weight: bold;
			font-style: italic;
			
			font-size: 1.6vh;
			
			}
			
		/*Top of page quote one*/	
		.quoteOne{ 
			text-align: left;
			margin-left: 1em;
			
			grid-row: 3;		}
			
		/*Top of page quote two*/
		.quoteTwo{
				
			text-align: right;
			margin-right: 1em;
			
			grid-row: 4 / span 1; 		}

		/*Quote three fits in a .vert container*/
		.quoteThree{
			font-family: Libre Baskerville; 
			display: block;
			margin: auto;
			
			font-size: 2.8vh;
			text-shadow: 1px 3px 7px #dc699a; /*#CCCCFF*/
			text-align: center;
						
		}

	/*Generic Parent Shell (to reach container borders)*/
	.button{
			display: flex;
			grid-row: 10;
			
			height: fit-content;
			
			/*to center content, both lines needed*/
			width: 96vw;

			margin: 8vh auto 2vh;
			/*position: absolute;
			bottom: 4%; 
			left: 4%;*/
			
			/*desired:hover
			color: #C0C0C0;
			*/

		}
		
		/*//////COPIED FROM https://fdossena.com/?p=html5cool/buttons/i.frag //EXAMPLE #4////*/

		a.button4{
		 display: inline-block; /*THIS makes top-bottom margin spacing effective*/
		 padding:0.3em 1.0em;
		 margin: auto;
		 justify-content: center;
		 
		 border:0.12em solid #dc699a;
		 border-radius:1.6em; /*changes corner 'fillet' size*/
		 box-sizing: border-box;
		 text-decoration:none;
		 font-family:"Gill Sans MT",sans-serif;
		 font-weight: 300;
		 font-size: 1.8em; 
		 color: #dc699a;
		 text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
		 text-align:center;
		 transition: all 0.2s;

	}

		figcaption{
			font-family: "Gill Sans MT", sans-serif; /*font works! Similar to domain.com*/
				/*"The vertical-align CSS property sets vertical alignment of an inline, 
				inline-block or table-cell box."*/
				/*border: 1px solid #30c5f2;
				text-align: center;*/
			font-size: 160%; /*Make larger relative to its own container*/
			font-weight: bolder;
			/*Position abolute relative to portrait or landscape*/
			line-height: 3.6vh;
			/*to improve readability on like backgrounds*/
			text-shadow: 4px 1px 4px black;
			/* offset x, offset y, blur radius, color */
			/*Default behavior for Fireplace Captions*/
			position: absolute; 
			bottom: -6%;
			left: 4%;
			}

		img{
			
		/*These two lines adjust width to container, height to match aspect ratio [defined by HTML img size]*/
			width: 100%;
			height: auto;
		/*These two lines adjust width to container, height to match aspect ratio [defined by HTML img size]*/
		}
	
} /*END*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/
/*/////////////////	portrait	/	MOBILE LAYOUT	///////////////////////////*/

/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
@container all and (orientation: landscape){

		header{
			display: flex;
			justify-content: center;
			
			grid-column: 2 / -2;
			font-size: 1.6em;
			font-weight: bold;

			/*Font-stack compatibility: https://www.cssfontstack.com/Baskerville  */
			font-family: "Palatino",serif; 
			/*grid-column-start: 1, span 6;*/
			
		}

		.vertUne{

			grid-column: 2 / span 2;
			
		}

		.vertDeux{

			grid-column: 4 / span 2;
			
		}

		.vertTrois{

			grid-column: -4 / span 2;
		}

		h3,h4,h5,h6{
			text-align: center;
			
		}

		 /*https://www.youtube.com/watch?v=Y9rHsdCxU8Q*/
		.container{

			  max-width: 100vw; /*1vw = 1% of viewport width*/
			  max-height: 600vh; /*lengthening did not aut-add more columns, content likely interfering*/
			  padding: 10px;
			  box-sizing: border-box;
				margin-right: 2px;
				
				font-family: "Libre Baskerville";
				
				/*Set Grid with right-side buffer for scroll bar*/
				display: grid ; 
				grid-template-columns: 5vw 1fr 1fr 1fr 1fr 1fr 1fr 5vw;
				grid-template-rows: auto auto auto 1fr auto auto;
						/*ANS: auto-sizing vs. fixed- sizing parameters (1fr is auto, 10px is fixed)*/
				/*grid: auto-flow dense / 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 0.5fr;*/
				
				gap: 10px; 
			  
		 }

		/*MATCH LINE SPACING (quoteTwo to match quoteOne)match line breaks from quoteTwo*/
		/*Improved BUT 1st line still breaks for 'quoteOne' before 'quoteTwo' when narrowing screen*/ 
		.quoteOne{ 
			text-align: left;
			font-family: "Libre Baskerville", serif;
			
			grid-column-start: 2;
			grid-column-end: 5;
			font-size: 1.6rem;
			line-height: 1rem;
			
			font-weight: bold;
			font-style: italic;
			margin-left: 1em;
			
		}

		.quoteTwo{
			font-family: "Libre Baskerville", serif;	
			grid-column-start: 5;
			grid-column-end: 8;
			font-size: 1.6rem;
			line-height: 1rem;
			text-align: right;

			font-weight: bold;
			font-style: italic;
			margin-right: 1em;
		}

		.quoteThree{
			display: block;
			max-width: 400px;
			max-height: 350px;
			margin: auto;
			
		}

		.container p{

			text-align: center;
			grid-row-start: auto;
			grid-column: 5 / span 2;
			
		}

		/*not currently in use revisit with JS in mind*/
		.searchFunction{ /*NEED OVERHAUL BASED ON SCREENSHOTS*/

			display: inline-block; 
			float: left;

			text-align: right; 
			align-self: center;
			width: 15em;
			size: 10; 
			/*grid-column-end:4;*/
			
			/*justify-content: right;*/ 
			margin: auto 8em auto; /*top horizontal bottom*/ 

		}

		/*CURRENTLY trying to a) relocate and b) recenter Button*/

		/*Generic Shell for buttons to reach container borders*/
		/*///////BUTTON TO BE SAME "ROSE" COLOR AS RIBBON*/
		.button{

			display: flex;

			width: 100%;
			justify-content: center;

		}

		/*NEW HAMBURGER MENU EXPANDS HORIZONTALLY HEREIN*/
		/*Site Ribbon - Navigation "Bar" with links to other pages*/
			/* Style the navigation menu */
			.topnav {
					  overflow: hidden;
					  position: relative;

					  /*BELOW from .siteRibbon*/
					  font-family: "Libre Baskerville",serif;
					  background-color: rgb(6, 16, 32);
					  padding: 1vw;
					  border: 4px ridge #dc699a;
					  
						grid-column: 2 / span 6;
						
						margin: 2%; /*Top Right Bottom Left*/
						/*overflow-x: show; TO HELP DIAGNOSE Start-Overflow in SiteRibbon*/
						overflow-y: hidden;
						
						line-height: 6vh;
						
						display: flex;
						align-content: space-between;
						
					}
					
					/* Style navigation menu links */
					.topnav a {
					  color: white;
					  padding: 14px 16px;
					  text-decoration: none;
					  font-size: 2.7vh;
					  
					  /*Make horizontal, not vertical.*/
					  display: inline;

					}
					
					/* Style the hamburger menu */
					.topnav a.icon {
					  background: black;
					  display: block;
					  position: absolute;
					  right: 0;
					  top: 0;
					  
					  /*Hide hamburger icon*/
					  display: none;
					}
					
					.topnav #tierOne{
						
						padding: 1.5vh 0 0 0 ;
						
					}

					/* Style the active link (or home/logo) */
					.active {
					  background-color: #04AA6D; /*CCCCFF*/
					  color: white;
					  font-size:2.7vh;
					  
					  display: inline;

					} 
					
					/*Style a p element to match <a> elements (for Current page)*/
					.topnav p{
						
						background-color: #aaaae3; 
						color: white;
					  padding: 14px 16px;
					  text-decoration: none;
					  font-size: 2.7vh;
					  display: inline;	
					}
		/*NEW HAMBURGER MENU EXPANDS HORIZONTALLY HEREIN*/

		.footRibbon{
			height: fit-content; 
			grid-row: -3 / span 1;
			padding: 0.5em 2em;
			
			/*STOP Text overflow (cutoff at end of container*/
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			/*STOP Text overflow (cutoff at end of container*/

			border: 4px ridge #1bf54e;
			grid-column: 1 / span 8;
			background-color: black; /*Black to match logo background - siteRibbon is different color*/
			
			/*THIS FLEX solution (within a grid-child item) spaces all content evenly like a dream! */
			display: flex;
			justify-content: space-between;
			/*THIS FLEX solution (within a grid-child item) spaces all content evenly like a dream! */

		}

		#pied{ /*PIED is an ID Selector meant to act as a fig caption for the logo img (one appearance per page)*/
			
			font-family: "Gill Sans MT", sans-serif; /*font works! Similar to domain.com*/

			vertical-align: bottom; 
			/*"The vertical-align CSS property sets vertical alignment of an inline, 
			inline-block or table-cell box."*/
			padding: 3px;
			border: none;
			text-align: center;
			
		}

		span{ /*Not particularly helpful replacement for <p> in footer*/
			
			display: inline; 
			vertical-align: middle;
			
		}

		.footRibbon figure{
			
			/*INLINE-BLOCK and FLOAT: are incompatible*/
			display: inline-block;
			/*float: right;*/
			margin: 0;

		}

		.footRibbon figure img{

			max-height: 16vh;
			height: fit-content;
			width: auto;

		}

		.footRibbon p{
			
			text-align: left;
			
			font-size: 1vw;

		}

		#foto-une{	max-width: 18vw; top: -3%;	left: 40%;}
		#foto-deux{ margin-top: 48%; transform: rotate(20deg); left: 0;	}
		#foto-trois{	max-width: 21vw;margin-top: 32%; left: -2%;}
		#foto-quatre{	max-width: 22vw; margin-top: 80%; left: 35%; z-index: 1;}
		#foto-cinq{		max-width: 30vw;margin-top: 32%; left: 12%;}
		#foto-sixieme{	margin-top: 25%;	max-width: 24vw;	left: -28%;	}
		#foto-sept{	max-width: 32vw; right: -3%;	top: -3%;}
		#foto-huit{	margin-top: 16%; max-width: 22vw; right: -32%;}
		#foto-neuf{	margin-top: 15%; max-width: 22vw;	}
		#foto-neuf{	margin-top: 22%; max-width: 26vw;	left: -26%; }

		/*Use Figure & Figcaption for img div and caption div*/
		.landscape{   
			
			float: left;
			position: relative;

			max-width: 100%;
			min-height: fit-content; /*TAKEN from size of only landscape photo*/
			
			height: auto; /* this prevents containers of infinite length*/
			width: auto;

			/*FOR NOW These margins space the three-column page better*/
			margin-left: 1%;
			margin-right: 1%;
			/*border: medium solid #1bf54e; /*neon greenish
			padding: 8px;*/
		}

		.portrait{ /*REMAIN identical to .landscape (behavior traits) EXCEPT for max-dimensions*/
			
			float: left;
			position: relative;
			
			justify-content: center;
			align-content: center;

			max-width: 100%;
			max-height: fit-content;

			height: auto;
			width: auto;

			margin-left: 1%;
			margin-right: 1%;
			
			/*border: medium solid #1bf54e;
			padding: 8px;*/

		}

		figcaption{
			font-family: "Gill Sans MT", sans-serif; /*font works! Similar to domain.com*/
				/*"The vertical-align CSS property sets vertical alignment of an inline, 
				inline-block or table-cell box."*/
				/*border: 1px solid #30c5f2;
				text-align: center;*/
			font-size: 160%; /*Make larger relative to its own container*/
			font-weight: bolder;
			/*Position abolute relative to portrait or landscape*/
			line-height: 3.6vh;
			/*to improve readability on like backgrounds*/
			text-shadow: 4px 1px 4px black;
			/* offset x, offset y, blur radius, color */
			/*Default behavior for Fireplace Captions*/
			position: absolute; 
			bottom: -6%;
			left: 4%;
			z-index: 1;
			}

		img{
			
		/*These two lines adjust width to container, height to match aspect ratio [defined by HTML img size]*/
			width: 100%;
			height: auto;
		/*These two lines adjust width to container, height to match aspect ratio [defined by HTML img size]*/
		}

} /*END*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/
/*/////////////////	DESKTOP / LANDSCAPE LAYOUT	/////////////////////*/

/*PASTED FROM: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/nav
nav {
    border-bottom: 1px solid black;

}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb a::after {
    display: inline-block;
    color: #000;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}
/*END PASTE FROM SITE*/

/*https://www.codegrepper.com/code-examples/css/how+to+stop+text+overflow+on+css

  STOP Text overflow (cutoff at end of container
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	STOP Text overflow (cutoff at end of container*/

/*
.element{

  text-overflow: ellipsis;

  /* Required for text-overflow to do anything /
  white-space: nowrap;
  overflow: hidden;

}*/

/* https://www.cssfontstack.com/Baskerville-Old-Face  

h1 { 
	font-family: Baskerville Old Face; 
	font-size: 24px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 26.4px; } 
	
h3 { 
	font-family: Baskerville Old Face; 
	font-size: 14px; font-style: normal; 
	font-variant: normal; 
	font-weight: 700; 
	line-height: 15.4px; } 

p { 
	font-family: Baskerville Old Face; 
	font-size: 14px; font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 20px; } 
	
blockquote { 
	font-family: Baskerville Old Face; 
	font-size: 21px; font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 30px; } 

pre { font-family: Baskerville Old Face; 
	font-size: 13px; 
	font-style: normal; 
	font-variant: normal; 
	font-weight: 400; 
	line-height: 18.5667px; }
	
 https://www.cssfontstack.com/Baskerville-Old-Face  */